.slogan {
	width: 280px;
	height: 139px;
}

.footer {

	&-links {
	}

	&-link {
		display: block;
		margin-bottom: em(10px);
		color: rgba(0,0,0,0.5);
		@include transition(color,0.1s);

		&:hover {
			color: rgba(0,0,0,1);
			text-decoration: none;
		}
	}
}