html {
	font-size: 14px;

	//@include minBreakpoint(1400px) {
	//	font-size: 16px;
	//}
	//
	//@include minBreakpoint(1800px) {
	//	font-size: 24px;
	//}
}

section {
	//width: 100%;
	padding: $section_padding_vertical $section_padding_horizontal;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.container._narrow {
	padding-left: em(115);
	padding-right: em(115);
}

.heading {
	font-size: em(42);
}

.heading-description {
	opacity: 0.3;
	font-size: em(30);
	font-weight: 400;
	line-height: em(20);
}

._text-left {
	text-align: left;
}

._text-center {
	text-align: center;
}

._text-right {
	text-align: right;
}