.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.4);

	&.fixed {
		position: fixed;
		background-color: #ffffff;
		box-shadow: 0 em(13) em(13) 0 rgba(0,0,0,0.08);
		transform: translate(0,-88px);

		&.menu-close {
			opacity: 0;
			transition: transform 0.2s ease-out, opacity 0.2s ease-out;
		}

		&.menu-open {
			transform: translate(0,0);
			opacity: 1;
			transition: transform 0.2s ease-out, opacity 0.2s ease-out;
		}

		.navigation .menu-link {
			color: #222222;

			&:hover:before {
				opacity: 0.3;
			}
		}

		.languages {
			color: #222222;

			&:after {
				border-top-color: #222222;
			}

			&:hover,
			&.lang-open,
			.lang-list {
				background: #ddd;
			}

			.lang-list a {
				color: #222222;

				&:hover {
					background-color: rgba(0,0,0,0.1);
				}
			}
		}
	}
}

.navigation {
	height: em(72px);
	position: relative;
	@include flexbox();
	@include flex_util(between,middle);

	ul {
		padding: 0;
		list-style-type: none;
		display: inline-block;
		margin: 0;

		li {
			display: inline-block;
		}
	}

	.menu-link {
		color: #ffffff;
		margin-right: em(48);
		font-size: em(13);
		font-weight: 500;
		padding: 0;
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: em(3);
			background-color: $main_color_red;
			position: absolute;
			left: 0;
			bottom: em(-29);
			opacity: 0;
			@include transition(opacity);
		}

		&:hover:before {
			opacity: 0.8;
		}

		&.active:before {
			opacity: 1 !important;
		}
	}

	.languages {
		position: relative;
		font-weight: 500;
		font-size: 12px;
		line-height: 24px;
		padding: em(5) em(10);
		background: rgba(0, 0, 0, 0);
		transition: background 0.2s ease-out;
		cursor: pointer;
		color: #ffffff;
		width: em(140);

		@include breakpoint(768px) {
			display: none;
		}

		&:hover {
			background: rgba(0,0,0,0.5);
		}

		&.lang-open {
			background: rgba(0,0,0,0.5);

			.lang-list {
				opacity: 1;
				visibility: visible;
				transform: translate(0,0) scale(1);
			}
		}

		&.lang-close {

			.lang-list {
				opacity: 0;
				transform: translate(0,-15px) scale(0.8);
				visibility: hidden;
				transition: opacity 0.1s ease-out, transform 0.2s linear, visibility 0.1s linear 0.3s;
			}
		}

		img {
			margin-right: em(4);
			margin-top: em(-4);
		}

		&:after {
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			margin-left: em(5);
			vertical-align: em(1);
			border-left: em(5) solid transparent;
			border-top: em(8) solid #ffffff;
			border-right: em(5) solid transparent;
		}

		.lang-list {
			width: em(140);
			position: absolute;
			left: 0;
			top: 100%;
			font-size: 12px;
			background: rgba(0,0,0,0.5);
			transition: opacity 0.3s ease-out, transform 0.1s linear;
		}

		a {
			display: block;
			padding-left: em(10);
			padding-right: em(10);
			width: 100%;
			color: rgba(255,255,255,1);
			cursor: pointer;
			line-height: 31px;
			transition: background-color 0.2s ease-out;

			&:hover, &.active {
				text-decoration: none;
				background-color: rgba(0,0,0,0.5);
			}
		}
	}
}

.back-to-top {
	position: absolute;
	bottom: -70vh;
	right: em(-35);
	opacity: 0;
	z-index: 100;
	width: em(35);
	height: em(35);
	background-color: rgba(234,234,234,0.6);
	background-size: 30%;
	border-radius: 50%;
	transition: opacity 0.3s ease-out, visibility 0.1s linear 0.3s;
	line-height: em(35);
	text-align: center;
	font-size: em(18);
	color: #212529 !important;
	padding: 0;
	visibility: hidden;

	&.show {
		opacity: 0.8;
		transition: opacity 0.3s ease-out, visibility 0.1s linear;
		visibility: visible;

		&:hover {
			opacity: 1;
		}
	}
}
