.services {
	background-color: #1a1919;
	padding-top: 0;

	//
	// Top Images
	//
	&-top {
		margin-left: 0;
		margin-right: 0;

		&-image {
			display: block;
			height: em(385);
			background-repeat: no-repeat;
			background-size: cover;

			&._image-1 {
				background-image: url('../images/services_1.png');
			}

			&._image-2 {
				background-image: url('../images/services_2.png');
			}

			&._image-3 {
				background-image: url('../images/services_3.png');
			}

		}
	}

	.heading-description {
		margin-bottom: em(23);
	}

	&-block {
		padding-top: em(200);

		h2, h3 {
			color: #ffffff;
		}
	}

	&-list {
		color: #ffffff;

		& + .services-list {
			margin-top: em(50);
		}

		.col {
			width: 24%;
			flex: 0 0 24%;
		}
	}

	&-number {
		font-size: em(40);
		line-height: em(28);
		font-weight: 500;
	}

	&-title {
		font-size: em(26);
		line-height: em(26);
		margin-bottom: em(8);
		white-space: nowrap;
	}

	&-description {
		font-size: em(18);
		line-height: em(22);
	}

	&-number,
	&-description {
		opacity: 0.3;
	}

	.btn-container {
		padding-top: em(76);
		padding-bottom: em(144);
	}
}